.question{

}

h1{
margin-top: 70px;
margin-bottom: 10px;
}

h{
color :greenyellow, red;
}

.question button{
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    font: inherit;
    padding: 1rem 2rem;
    border: 8px solid #000000;
    background-color: #16ee94;
    color: rgb(0, 0, 0);
    font-style:italic;
    font-weight: bolder;
    border-radius: 11px;
    margin-right: 1rem; 
}

.question button:hover,
.question button:active{
    background-color: #f3ba1f;
    border-color: #000000;
}